AnchorPane {
    -fx-background-color: #27A4F2;
}
.button {
    -fx-background-color: white;
    -fx-text-fill: #27A4F2;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 8 16;
}

.button:hover {
    -fx-background-color: #e6f4ff; /* xanh nhạt khi hover */
}

.button:pressed {
    -fx-background-color: #cce9ff; /* xanh nhạt hơn khi nhấn */
}
.text-field {
    -fx-background-color: white;
    -fx-text-fill: #333333;
    -fx-prompt-text-fill: #888888; /* màu chữ hint */
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-border-color: #1a82c5;  /* xanh đậm hơn nền */
    -fx-border-width: 1;
    -fx-padding: 6 10;
}

.text-field:focused {
    -fx-border-color: #10507a;  /* xanh đậm hơn khi focus */
    -fx-border-width: 2;
}
