/* Ảnh nền toàn màn hình */
#rootPane {
    -fx-background-image: url("image/backgroundhome.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.button {
    -fx-background-color: white;
    -fx-text-fill: #27A4F2;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 8 16;
}

#balance_btn {
    -fx-background-radius: 8 0 0 8;
}

.button:hover {
    -fx-background-color: #e6f4ff; /* xanh nhạt khi hover */
}

.button:pressed {
    -fx-background-color: #cce9ff; /* xanh nhạt hơn khi nhấn */
}

.label {
    -fx-font-weight: bold;
    -fx-letter-spacing: 0.3px;
}

.navbar-btn {
    -fx-background-radius: 0;
}

#logo_label {
    -fx-background-image: url("image/logo.png");
    -fx-background-position: center;
    -fx-background-size: contain;
}

.icon_container {
    -fx-background-position: center;
    -fx-background-size: contain;
}

#account_icon {
    -fx-background-image: url("image/icon_account_blue.png");
}

#setting_icon {
    -fx-background-image: url("image/icon_setting_blue.png");
}

.myscroll {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

/* nền viewport */
.myscroll .viewport {
    -fx-background-color: transparent;
}

.myscroll .scroll-bar {
    -fx-background-color: transparent;
}

.myscroll .scroll-bar:vertical .thumb,
.myscroll .scroll-bar:horizontal .thumb {
    -fx-background-color: #b0b0b0;
    -fx-background-radius: 10;
}

.myscroll .scroll-bar:vertical .thumb:hover,
.myscroll .scroll-bar:horizontal .thumb:hover {
    -fx-background-color: #7a7a7a;
}

.myscroll .increment-button,
.myscroll .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-pref-height: 0;
    -fx-pref-width: 0;
    -fx-opacity: 0;
}


.myscroll .corner {
    -fx-background-color: transparent;
}

.list-view {
    -fx-background-color: transparent;
}

#myVBox {
    -fx-spacing: 10;
}