/* Ảnh nền toàn màn hình */
#rootPane {
    -fx-background-image: url("image/backgroundhome.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.button {
    -fx-background-color: white;
    -fx-text-fill: #27A4F2;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 8 16;
}

.button:hover {
    -fx-background-color: #e6f4ff; /* xanh nhạt khi hover */
}

.button:pressed {
    -fx-background-color: #cce9ff; /* xanh nhạt hơn khi nhấn */
}

.label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-letter-spacing: 0.3px;
}

.navbar-btn {
    -fx-background-radius: 0;
}

#logo_label {
    -fx-background-image: url("image/logo.png");
    -fx-background-position: center;
    -fx-background-size: contain;
}

.icon_container {
    -fx-background-position: center;
    -fx-background-size: contain;
}

#account_icon {
    -fx-background-image: url("image/icon_account_blue.png");
}

#setting_icon {
    -fx-background-image: url("image/icon_setting_blue.png");
}

#main_gridpane {
    -fx-vgap: 16;
    -fx-hgap: 16;
}

.ButtonInGridPane {
    -fx-background-radius: 16;
}

#plane_icon {
    -fx-background-image: url("image/plane.png");
}

.LabelInPane {
    -fx-text-fill: #27A4F2;
}

#tien_dien_nuoc_icon {
    -fx-background-image: url("image/tien_dien_nuoc.png");
}

#mu_cu_nhan_icon {
    -fx-background-image: url("image/mu_cu_nhan.png");
}

#voucher_icon {
    -fx-background-image: url("image/voucher.png");
}

#water_icon {
    -fx-background-image: url("image/giot_nuoc.png");
}

#tia_set_icon {
    -fx-background-image: url("image/tia_set.png");
}

#wifi_icon {
    -fx-background-image: url("image/mangmeo.png");
}