/* Ảnh nền toàn màn hình */
#rootPane {
    -fx-background-image: url("image/backgroundhome.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.button {
    -fx-background-color: white;
    -fx-text-fill: #27A4F2;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 8 16;
}

.button:hover {
    -fx-background-color: #e6f4ff; /* xanh nhạt khi hover */
}

.button:pressed {
    -fx-background-color: #cce9ff; /* xanh nhạt hơn khi nhấn */
}

.label {
    -fx-font-weight: bold;
    -fx-letter-spacing: 0.3px;
}

.navbar-btn {
    -fx-background-radius: 0;
}

#logo_label {
    -fx-background-image: url("image/logo.png");
    -fx-background-position: center;
    -fx-background-size: contain;
}

.icon_container {
    -fx-background-position: center;
    -fx-background-size: contain;
}

#account_icon {
    -fx-background-image: url("image/icon_account_blue.png");
}

#setting_icon {
    -fx-background-image: url("image/icon_setting_blue.png");
}

#main_gridpane {
    -fx-vgap: 16;
    -fx-hgap: 16;
}

.ButtonInGridPane {
    -fx-background-radius: 16;
}

#plane_icon {
    -fx-background-image: url("image/plane.png");
}

.LabelInPane {
    -fx-text-fill: #27A4F2;
}


/*phần này dành cho scene hóa đơn tại vì 2 scene trông giống nhau*/
#tien_dien_nuoc_icon {
    -fx-background-image: url("image/tien_dien_nuoc.png");
}

#mu_cu_nhan_icon {
    -fx-background-image: url("image/mu_cu_nhan.png");
}

#voucher_icon {
    -fx-background-image: url("image/voucher.png");
}

#water_icon {
    -fx-background-image: url("image/giot_nuoc.png");
}

#tia_set_icon {
    -fx-background-image: url("image/tia_set.png");
}

#wifi_icon {
    -fx-background-image: url("image/mangmeo.png");
}
#contact_information_icon {
    -fx-background-image: url("image/contact_information_icon.png");
}
#frequently_asked_question_icon {
    -fx-background-image: url("image/frequently_asked_question_icon.png");
}
.myscroll {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

/* nền viewport */
.myscroll .viewport {
    -fx-background-color: transparent;
}

.myscroll .scroll-bar {
    -fx-background-color: transparent;
}

.myscroll .scroll-bar:vertical .thumb,
.myscroll .scroll-bar:horizontal .thumb {
    -fx-background-color: #b0b0b0;
    -fx-background-radius: 10;
}

.myscroll .scroll-bar:vertical .thumb:hover,
.myscroll .scroll-bar:horizontal .thumb:hover {
    -fx-background-color: #7a7a7a;
}

.myscroll .increment-button,
.myscroll .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-pref-height: 0;
    -fx-pref-width: 0;
    -fx-opacity: 0;
}


.myscroll .corner {
    -fx-background-color: transparent;
}

.list-view {
    -fx-background-color: transparent;
}

#myVBox {
    -fx-spacing: 10;
}
#balance_box {
    -fx-background-color: white;
    -fx-text-fill: #27A4F2;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 8;
}

.label_tt {
    -fx-background-color: transparent;
    -fx-text-fill: #6C757D;
    -fx-font-weight: bold;
    -fx-padding: 4 8;
}

.label_nd {
    -fx-background-color: transparent;
    -fx-text-fill: #27A4F2;
    -fx-font-weight: bold;
    -fx-padding: 4 4;
}




