.rootPane {
    -fx-background-image: url("image/backgroundhome.png");
}

.rootPane >.viewport {
    -fx-background-image: url("image/backgroundhome.png");
}


.label {
    -fx-font-weight: bold;
    -fx-letter-spacing: 0.3px;
    -fx-font-size: 14;
}

.button:hover {
    -fx-background-color: #e6f4ff; /* xanh nhạt khi hover */
}

.button:pressed {
    -fx-background-color: #cce9ff; /* xanh nhạt hơn khi nhấn */
}

.btn_xanh_nen_trang {
    -fx-background-color: white;
    -fx-text-fill: #27A4F2;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 8 16;
}

#return_btn:hover {
    -fx-background-color: #e6f4ff; /* xanh nhạt khi hover */
}

#return_btn:pressed {
    -fx-background-color: #cce9ff; /* xanh nhạt hơn khi nhấn */
}

.vbox {
    -fx-background-color: rgba(255, 255, 255, 0.85);
    -fx-background-radius: 20;
    -fx-padding: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0, 0, 3);
    -fx-spacing: 9;
}

#vbox_to {
    -fx-padding: 12;
    -fx-spacing: 18;
}

#vbox_so_du_sotaikhoan {

}

#vbox_lich_su_giao_dich {

}

.nut_chua_lsgd {
    -fx-padding: 2;
    -fx-background-color: transparent;
}

.hbox_chua_lsgd {
    -fx-padding: 8;
    -fx-spacing: 12;
}

.icon_container {
    -fx-background-position: center;
    -fx-background-size: contain;
}

.chuyen_vao {
    -fx-background-image: url("image/co_tien.png");
}

.chuyen_di {
    -fx-background-image: url("image/mat_tien.png");
}

/*Phần này dành cho các scene list hóa đơn*/

.btn_bill {
    -fx-background-color: transparent;
}

.hbox_btn_bill {
    -fx-background-color: transparent;
    -fx-padding: 8;
    -fx-spacing: 12;
}

/*icon của mỗi loại button*/
#icon_tien_dien {
    -fx-background-image: url("image/tia_set.png");
}

#icon_tien_mang {
    -fx-background-image: url("image/mangmeo.png");
}

#icon_tien_nuoc {
    -fx-background-image: url("image/giot_nuoc.png");
}

#icon_tien_hoc_phi {
    -fx-background-image: url("image/mu_cu_nhan.png");
}

.notificationButton {
    -fx-background-color: white;
}

#icon_thong_bao {
    -fx-background-image: url("image/blue_bell.png");
}

/*phần này dành cho support*/
.noi_dung_chinh_cua_feq {
    -fx-text-fill: white;
    -fx-font-size: 16;
}

.myscroll .scroll-bar {
    -fx-background-color: transparent;
}

.myscroll .scroll-bar:vertical .thumb,
.myscroll .scroll-bar:horizontal .thumb {
    -fx-background-color: #b0b0b0;
    -fx-background-radius: 10;
}

.myscroll .scroll-bar:vertical .thumb:hover,
.myscroll .scroll-bar:horizontal .thumb:hover {
    -fx-background-color: #7a7a7a;
}

.myscroll .increment-button,
.myscroll .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-pref-height: 0;
    -fx-pref-width: 0;
    -fx-opacity: 0;
}


.myscroll .corner {
    -fx-background-color: transparent;
}
#wish_to_proceed_btn {
    -fx-background-color: white;
    -fx-text-fill: #27A4F2;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 8 16;
}

#wish_to_proceed_btn:hover {
    -fx-background-color: #e6f4ff; /* xanh nhạt khi hover */
}

#wish_to_proceed_btn:pressed {
    -fx-background-color: #cce9ff; /* xanh nhạt hơn khi nhấn */
}

/*cần một phần cho Loan */
.rootLoan{
    -fx-background-image: url("image/background2.png");
}

.black_label {
    -fx-text-fill: black;
}