/* Ảnh nền toàn màn hình */
#rootPane {
    -fx-background-image: url("image/backgroundhome.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.button {
    -fx-background-color: white;
    -fx-text-fill: #27A4F2;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 8 16;
}

.button:hover {
    -fx-background-color: #e6f4ff; /* xanh nhạt khi hover */
}

.button:pressed {
    -fx-background-color: #cce9ff; /* xanh nhạt hơn khi nhấn */
}

.label {
    -fx-font-weight: bold;
    -fx-letter-spacing: 0.3px;
}

.navbar-btn {
    -fx-background-radius: 0;
}

#logo_label {
    -fx-background-image: url("image/logo.png");
    -fx-background-position: center;
    -fx-background-size: contain;
}

.icon_container {
    -fx-background-position: center;
    -fx-background-size: contain;
}

#account_icon {
    -fx-background-image: url("image/icon_account_blue.png");
}

#setting_icon {
    -fx-background-image: url("image/icon_setting_blue.png");
}

#main_vbox {
    -fx-background-color: rgba(255, 255, 255, 0.85);
    -fx-background-radius: 20;
    -fx-padding: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0, 0, 3);
}

.LabelInVBox {
    -fx-text-fill: #27A4F2;
}

.text-field {
    -fx-background-color: white;
    -fx-text-fill: #333333;
    -fx-prompt-text-fill: #888888; /* màu chữ hint */
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-border-color: #1a82c5;  /* xanh đậm hơn nền */
    -fx-border-width: 1;
    -fx-padding: 6 10;

}

.text-field:focused {
    -fx-border-color: #10507a;  /* xanh đậm hơn khi focus */
    -fx-border-width: 2;
}

.choice-box {
    -fx-border-color: #10507a;  /* xanh đậm hơn khi focus */
}