.rootPane {
    -fx-background-image: url("image/backgroundhome.png");
}

.rootPane >.viewport {
    -fx-background-image: url("image/backgroundhome.png");
}

.label {
    -fx-text-fill: #121212;
    -fx-font-weight: bold;
    -fx-letter-spacing: 0.3px;
    -fx-font-size: 14;
}

.button:hover {
    -fx-background-color: #e6f4ff; /* xanh nhạt khi hover */
}

.button:pressed {
    -fx-background-color: #cce9ff; /* xanh nhạt hơn khi nhấn */
}

#return_btn {
    -fx-background-color: white;
    -fx-text-fill: #27A4F2;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 8 16;
}

#return_btn:hover {
    -fx-background-color: #e6f4ff; /* xanh nhạt khi hover */
}

#return_btn:pressed {
    -fx-background-color: #cce9ff; /* xanh nhạt hơn khi nhấn */
}

.vbox {
    -fx-background-color: rgba(255, 255, 255, 0.85);
    -fx-background-radius: 20;
    -fx-padding: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0, 0, 3);
    -fx-spacing: 9;
}

#vbox_to {
    -fx-padding: 12;
    -fx-spacing: 18;
}

#vbox_so_du_sotaikhoan {

}

#vbox_lich_su_giao_dich {

}

.nut_chua_lsgd {
    -fx-padding: 2;
    -fx-background-color: transparent;
}

.hbox_chua_lsgd {
    -fx-padding: 8;
    -fx-spacing: 12;
}

.icon_container {
    -fx-background-position: center;
    -fx-background-size: contain;
}

.chuyen_vao {
    -fx-background-image: url("image/co_tien.png");
}

.chuyen_di {
    -fx-background-image: url("image/mat_tien.png");
}